body{
    background-color: lightgray;
}

#loading{
    display: none;
}
#comparison_table{
    border-collapse: collapse;
    text-align: center;
}

.btn_controls{
    margin-bottom: 5px;
    color: white;
}

.turreted_field,
.non_turreted_field{
    display: none;
}

.tank_filter{
    display: inline-block;
    cursor: pointer;
    margin: 2px;
}

.nation{
    height: 20px;
    width: 48px;
}

.tier{
    color: gold;
    background: silver;
    width: 27px;
}

.class{
    height: 17px;
    width: 26px;
}

.active{
    border: solid 1px yellow;
}

.filter_wrap{
    width: 160px;
    margin: 0 auto;
}

.module_selects{
    display: none;
    /*text-align: left;*/
}

#modal{
    background: grey;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: .3;
    display: none;
}

#report_link{
    text-decoration: underline;
    color: maroon;
    cursor: pointer;
}

#feedback_pop{
    display: none;
    position: absolute;
    background: lightgray;
    padding: 10px;
    border: 2px solid red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#cancel_btn{
    margin-right: 40px;
}

.usa{ background: url('../images/usa.png');}

.china{ background: url('../images/china.png');}

.germany{ background: url('../images/germany.png');}

.ussr{ background: url('../images/russia.png');}

.uk{ background: url('../images/uk.png');}

.france{ background: url('../images/france.png');}

.light{ background: url('../images/light.png');}

.medium{ background: url('../images/medium.png');}

.heavy{ background: url('../images/heavy.png');}

.td{ background: url('../images/td.png');}

.spg{ background: url('../images/spg.png') no-repeat;}
